GOOGLE_API_KEY=
GOOGLE_EMBEDDING_MODEL='models/embedding-001'

OPENAI_API_KEY=
OPENAI_EMBEDDING_MODEL='text-embedding-3-small'
OPENAI_MODEL='moonshotai/kimi-k2.5'

DATABASE_URL=
PG_VECTOR_COLLECTION_NAME=
PG_VECTOR_MAX_RESULTS=10

PDF_PATH=